<!--Mruga Shah, mts339@drexel.edu
#CS 530: DUI, Asssignment 1 -->

{% extends 'base.html' %}
{% set active = "Contact Us" %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div>
        <h1 class="jumbotron-heading">Contact Us</h1>
        <p><b>Questions?</b></p>
		<p>Email: abcd@gmail.com<br>Call us: 123-456-7890</p></br>
		<p><b>Address:</b></p>
		<p>123, Manhattan Avenue<br>New York 17202</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12089.60178633064!2d-73.9924851!3d40.7532164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47b4214a317fb60e!2sBollywood%20Funk%20NYC%20Dance%20School!5e0!3m2!1sen!2sus!4v1583722042741!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>

{% endblock %}