{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">Any Body Can Dance</h1>
        <p class="lead text-muted">Love to Dance? Come to our classes and learn from the best!!!</p>
        <p>Dance has traditionally been an important part of religion and culture in India. According to Indian legend, the gods invented dance. Dancing is one of the most revered Hindu arts because it incorporates melody, drama, form and line. Gestures, body positions and head movements are emphasized in Indian dance. The use of the hands, fingers and eyes are of primary importance. There are almost a thousand specific hand movements and signs ( mudras). Often bells are worn around the ankles.</p>
        <p>Our Classes teach different dance styles from India. Classes are divided into batches and the dance styles taught are Freestyle (Bollywood), Folk (Garba, Bhangra) and Classical(Kathak, Bharatnatyam). <b>Login to register for the classes.</b></p>
		</br></br>
		<h2>About the Guru</h2>
		<h4>Priyal Patel</h4>
		<p>Priyal is a trained Bharatnatyam dancer and has been learning Kathak recently. She has been teaching dance for about 5 years now. Before that she used to perform at shows and gatherings. She has learnt the Indian folk dances while she lived in the heartland of India.</p>
		<p><img class="img-fluid" src="/img/dance/n2.jpg"></p>
	</div>
</section>

{% endblock %}